*{
	margin:0;
	padding:0;
}

body{
	margin:0 auto 30px auto;
	width:960px;
}

.title{
	font-size:30px;
}

pre{
	ie6-background:coral;
	ie7-background:blue;
	ie8-background:pink;
	firefox-background:red;
	chrome-background:green;
	opera-background:orange;
	safari-background:yellow;
	maxthon-background:gray;
}